@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 70px;
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 4px;
}

button {
  background-color: #05c7cf;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.glitch-text,
p {
  line-height: 1.5;
}

h1 {
  font-size: 72px;
}

main section,
footer {
  padding: 48px 0;
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

ul {
  display: flex;
}

a {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.logo {
  width: 300px;
}

.home__description,
.home__img--wrapper {
  width: 50%;
}

.home__img--wrapper {
  display: flex;
  justify-content: center;
}

.home__img {
  width: 80%;
}

/* 

  ABOUT 
  
*/

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

#about {
  background-color: #f8ffdc;
}

.section__description {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about__img--wrapper,.image-container {
  width: 40%;
  padding: 0 24px;
}

.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  margin-bottom: 24px;
}

/*
About Glitched
*/

.glitch-container {
  position: relative;
  display: inline-block;
}

.glitch-text {
  position: relative;
  display: flex;
  font-size: 20px;
}

.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(auto, auto, auto, auto);
  animation: glitch 2s infinite alternate-reverse;
}

/*
About Image Swap
*/
.image-container {
  position: relative;
  width: 100%; /* Adjust the width to fit your images */
  height: 32vh; /* Adjust the height to fit your images */
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease; /* Adjust the transition properties as needed */
}

.image:hover {
  opacity: 0;
}

/*
Glitch animation
*/

@keyframes glitch {
  0% {
    clip: rect(50px, 9999px, 30px, 0);
    transform: skew(0.5deg);
    background: #ff0;
  }
  25% {
    clip: rect(14px, 9999px, 26px, 0);
    transform: skew(0.8deg);
    background: #f0f;
  }
  50% {
    clip: rect(20px, 9999px, 10px, 0);
    transform: skew(0.2deg);
    background: #0ff;
  }
  75% {
    clip: rect(40px, 9999px, 42px, 0);
    transform: skew(0.5deg);
    background: #f0f;
  }
  100% {
    clip: rect(25% 0, 77% 0, 61% 100%, 0 100%);
    transform: skew(0.8deg);
    background: #ff0;
  }
}

/*
Glitch interactions
*/
.glitch-container:hover .glitch-text::after {
  content: attr(data-hover-text);
}

/* 

  DISCORD 
  
*/

#discord {
  background-color: #cefeff;
  background: linear-gradient(to bottom, #cefeff, #cefeff 50%, #a3fafc 50%, #a3fafc);
  background-size: 100% 4px;
  animation: gradientMove 200ms ease infinite;
}

/*
Discord Chromatic Aberations
*/

.chrome__Abb {
  font-size: 24px;
  text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
    0px -1px 3px rgba(12, 79, 251, 0.5), -3px 0px 2px rgba(52, 251, 12, 1);
    animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite alternate-reverse;
}

/*
Discord chromatic Aberations animations
*/

@keyframes gradientMove { 
  0%{background-size: 100% 4px}
  50%{background-size: 100% 2px}
  100%{background-size: 100% 4px}
}

@keyframes pulse { 
  0%{ opacity:.9;transform: skewX(.5deg);}
  25%{ opacity:1;}
  50%{opacity:.9;}
  75%{ opacity:1; transform:skewX(.5deg);}
  100%{opacity:.9;}
}
@keyframes chromaticMove { 
  0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgba(52, 251, 12, 1);}
  50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgba(52, 251, 12, 1);}
  100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgba(52, 251, 12, 1);}
}

/* 

  CONTACT 
  
*/

#contact {
  background-color: #dce9ff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  font-size: 20px;
  margin-bottom: 24px;
  padding: 6px 12px;
}

input {
  height: 40px;
}

/* 

  FOOTER 

*/

footer {
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
  margin-bottom: 24px;
}

.footer__link {
  padding: 0 16px;
}

.footer__links {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .home__description,
  .home__img--wrapper {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  .home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .subheader {
    text-align: center;
    font-size: 28px;
  }

  .section__description {
    flex-direction: column;
  }

  .section__description--wrapper,
  .about__img--wrapper {
    width: 100%;
  }

  #discord .section__description {
    flex-direction: column-reverse;
  }

  form {
    padding: 0 24px;
  }

  footer {
    padding: 48px 24px;
  }

  .footer__logo {
    max-width: 400px;
  }

  .footer__link {
    padding: 0 8px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .footer__logo {
    max-width: 320px;
  }

  .footer__link {
    font-size: 16px;
  }
}
